* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --color-primary: #3d3d3d;
  --color-secondary: #3b529c;
}

body {
  background-color: #fcfcfc;
}

.container {
  padding: 10px 8%;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  font-weight: 500;
  font-size: 1rem;
  color: #222222;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Header */
#header {
  margin: 10% 10%;
}

#name {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 5rem;
}

#sub-header {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: var(--color-secondary);
  font-weight: 300;
  font-size: 2.25rem;
}
